@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-error">/// Error</h2>
<p>Ocurrio un error procesando tu solicitud.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
